@import '../../assets/sass/base/variables';
@import '../../assets/sass/base/mixins';

$Result: '.Result';

#{$Result} {
    display: flex;
    width: 100%;
    height: 100%;

    &__map {
        position: relative;
        display: flex;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    &__modal {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(map-get($colors, mine-shaft), 0.3);
        z-index: 2;
    }

    &__view {
        width: 589px;
        height: 574px;

        img {
            margin-bottom: 0;
        }
    }
}
