*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    position: relative;
    height: 100%;
    min-width: $minWidth;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: map-get($colors, white);
}

#root {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.ReactModal__Body--open,
.ReactModal__Html--open {
    overflow: hidden;
}

input:not([type])::-ms-clear,
input:not([type])::-ms-reveal,
input[type="text"]::-ms-clear,
input[type="text"]::-ms-reveal,
input[type="password"]::-ms-clear,
input[type="password"]::-ms-reveal,
input[type="date"]::-ms-clear,
input[type="date"]::-ms-reveal,
input[type="datetime"]::-ms-clear,
input[type="datetime"]::-ms-reveal,
input[type="datetime-local"]::-ms-clear,
input[type="datetime-local"]::-ms-reveal,
input[type="month"]::-ms-clear,
input[type="month"]::-ms-reveal,
input[type="week"]::-ms-clear,
input[type="week"]::-ms-reveal,
input[type="email"]::-ms-clear,
input[type="email"]::-ms-reveal,
input[type="number"]::-ms-clear,
input[type="number"]::-ms-reveal,
input[type="search"]::-ms-clear,
input[type="search"]::-ms-reveal,
input[type="tel"]::-ms-clear,
input[type="tel"]::-ms-reveal,
input[type="time"]::-ms-clear,
input[type="time"]::-ms-reveal,
input[type="url"]::-ms-clear,
input[type="url"]::-ms-reveal,
input[type="color"]::-ms-clear,
input[type="color"]::-ms-reveal,
textarea::-ms-clear,
textarea::-ms-reveal {
    display: none;
}
